<!-- <a 
style="cursor: pointer"
class="list-group-item"
[routerLink]="[index]"
routerLinkActive="active"
>
 <div class="pull-left">
   <h4 class="list-group-item-heading">{{recipe.name}}</h4>
   <p class="list-group-item-text">{{recipe.discription}}</p>
 </div>
 <span class="pull-right">
    <img src="{{recipe.imagePath}}"  class="img-responsive" style="max-height: 50px;">
 </span>
</a><br> -->

<a
style="cursor: pointer"
class="list-group-item"
[routerLink]="[index]"
routerLinkActive="active"
>
<div class="card">
  <div class="card-body">
    <span class="pull-right">
    <img src="{{recipe.imagePath}}"  class="img-responsive" style="max-height: 50px;">
   </span>
   <h4 class="card-title"><strong>{{recipe.name}}</strong></h4>
    <p class="card-text">{{recipe.discription}}</p>
  </div>
</div>
</a><br>